@charset "utf-8";
html,body{ min-width:400px;}
a{ text-decoration:none;}
*{ font-family:'Theleague'; font-weight:normal; font-style:normal;}
@font-face {
    font-family: 'Apple';
    src:url(../aset/font/AppleGaramond.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas';
    src:url(font/BebasNeue.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'masterofbreak';
    src:url(font/master_of_break.ttf);
    font-weight: normal;
    font-style: normal;
}
*{ margin:0px; padding:0px;}
body{overflow:hidden;}
body,html{ height:100%; word-wrap:break-word; }
#wrapper{ -webkit-margin:0 auto;margin:0 auto; width:99.8%; height:100%;
border-right:1px inset rgba(212,212,212,0.60); border-left:1px inset rgba(212,212,212,0.60); border-bottom:1px inset rgba(212,212,212,0.60); z-index:1; padding-top:61px; overflow:visible;}
#header{ width:99.8%; height:60px; background:rgba(255,255,255,1.00); position:fixed; border-bottom:1px inset rgba(212,212,212,0.60); top:0px; background-position:top; z-index:5; float:left;}
.judul{ font-family:"Bebas"; position:relative; letter-spacing:2px; color:rgba(238,139,169,1.00); left:40px; top:-5px; }
.judul_artikel{font-family:"Bebas"; letter-spacing:1px; padding:20px 0px 0px 20px; float:left;}
.judul_artikel::first-letter{ font-size:200%; font-family:"Bebas";}
#bodi { width:100%; height:100%; float:left; overflow-style:auto;}
#menu{ width:17%; height:100%; float:left; background:rgba(238,139,169,1.00); border-right:1px inset rgba(212,212,212,0.60); top:61px; transition:1s; z-index:6; overflow:auto;}


.fa.fa-align-justify{ font-size:24px; float:left; cursor:pointer; left:10px; top:20px; position:relative;}
.fa.fa-align-justify:hover{ cursor:pointer; color:rgba(255,0,4,1.00);}

.admin{ height:80px; border-bottom:1px solid rgba(255,255,255,0.50);}
.admin_status{ position:relative; top:6%; left:4%;}
.admin_status_det{ position:relative; top:20px; left:5px; overflow:hidden;}
.admin_status_det h3{ float:left; font-size:14px; color:rgba(255,255,255,1.00); font-family:'masterofbreak'; letter-spacing:1px;}
.admin_status_det h4{ font-size:11px; color:rgba(255,255,255,1.00);}
.admin_status_img{ height:70px; float:left; }
.admin_status img{ width:70px; float:left; border-radius:50%;}




#content1{ width:83%;		 height:100%;		background:rgba(255,255,255,1.00);	 	z-index:16; float:left; overflow:scroll; padding-bottom:50px; position:relative;}
.content2{ height:84%; width:94%; border:0px solid rgba(156,156,156,0.60); position:relative; left:3.82%; float:left; overflow:visible;}
.menukelola{ margin-top:20px; overflow:visible; word-wrap:break-word;}
#header_content{width:96%; border:0px solid rgba(156,156,156,0.60); position:relative; left:1.82%; clear:both; float:left;}
.garis_edit{ border:1px solid rgba(0,0,0,0.60); width:96%; position:relative; left:2%; margin:0px auto; margin-bottom:20px; clear:both; float:left;}
#gantimenu{ display:inline;}
#gantimenu1{ display:none;}
.buttton{ padding:5px 8px 5px 8px; cursor:pointer;}
.buttton_hapus{ padding:5px 8px 5px 8px; cursor:pointer; margin-left:6px;}

/* Halaman Tampil */
.cari{ margin-top:10px; display: flex; flex-flow: row wrap; justify-content:flex-start; align-content:flex-start;}
.cari_h3{ font-family:'Theleague'; font-size:18px; font-weight:550; margin-right:12px;}
.cari_i{ border-radius:3px; padding:0px 5px 0px 4px; border:1px solid #CECECE;}
.cari_b{padding:0px 5px 0px 4px;}
.tambah{ border:1px solid #CECECE; padding:0px 4px 0px 4px; cursor:pointer; margin-left:5px; transition:1s;}
.tambah:hover{background:#00ED4E; color:white;}
.tampil{ width:100%; margin-top:20px;}
.tampil tr:nth-child(1){ text-align:center;}
.tampil tr:nth-child(1) td:nth-child(1),.tampil tr:nth-child(1) td:nth-child(2){ border-right:1px solid #CECECE;}
.tampil tr td{ border-top:1px solid #CECECE; padding:4px; text-align:center;}
.tampil tr td{ border:1px solid #CECECE;}
.tampil tr:hover td{ background:#EDEDED; transition:1s;}
.aksihapus,.aksiedit{ cursor:pointer;}
.buttonpage{ height:20px; width:20px; border:1px solid #CECECE; color:#000; border-bottom-left-radius:6px; border-bottom-right-radius:6px; border-top-right-radius:6px; border-top-left-radius:6px; float:left; margin-left:3px; padding:5px; text-decoration:none;}
.buttonpage1{ height:20px; min-width:20px; border:1px solid #CECECE;  color:#000; border-bottom-left-radius:6px; border-bottom-right-radius:6px; border-top-right-radius:6px; border-top-left-radius:6px; float:left; margin-left:3px; padding:3px 10px 7px 10px; text-decoration:none;}
/* Halaman Tampil End */

/* Halaman Tambah */
.kembali{ border:1px solid #CECECE; width:90px; padding:4px 8px 4px 8px; margin-bottom:20px; cursor:pointer; transition:0.7s;}
.kembali:hover{ background:red; width:90px; padding:4px 8px 4px 8px; margin-bottom:20px; color:white; cursor:pointer; transition:0.7s; border-width:0px;}
.tambah_tb{ width:60%; }
.tambah_tb tr:nth-child(1) td{ margin-bottom:30px;}
.tambah_tb tr{ padding:11px 0px 11px 0px;}
.tambah_tb tr td{ padding:5px 0px 5px 0px;}
.tambah_tb tr td:nth-child(1){ width:26%;}
.tambah_tb_tr{ padding:10px 10px 10px 10px;}
.tambah_tb_i{ width:100%; padding:2px 0px 2px 6px; position:relative; left:-10px;}
.tambah_tb_b{ width:100%; padding:5px 10px 5px 10px; border-width:0px; font-family:'Apple'; color:white; font-size:20px; cursor:pointer; background:#424A5D;}
.deskripsi{ position:relative; top:-104px;}
/* Halaman Tambah End*/

/* Lihat Post Admin */
.lihat_post_admin{ width:100%;}
.tanggal{ font-size:14px; color:red;}
.diskusi_from{ padding-bottom:5px;}
.diskusi_dt{padding-bottom:5px;}
.diskusi_isi{padding-bottom:8px;}
.diskusi_hr{ width:100%; margin:10px 0px 10px 0px;}
.diskusi_t{ color:red; font-size:14px; float:left; padding-right:5px; position:relative; top:3px;}
.diskusi_balas{ width:59%; min-height:70px; padding:10px 0px 0px 10px;}
.buttton_balas{ width:60%; padding:5px 0px 5px 0px; cursor:pointer;}
/* Lihat Post Admin End */

/* Halaman Diskusi Produk */
.diskusi_h{ margin:30px 0px 20px 36px;}
/* Halaman Diskusi Produk */
/* Halaman Pelangggan */
.plgn_frm{ width:100%;}
.plgn_tbl{ width:98%;}
.plgn_tbl td{ padding-bottom:11px;}
.plgn_tbl td:nth-child(1){ padding-left:35px; width:24%;}
.plgn_tbl td:nth-child(2){ width:3%; text-align:center;}
/* Halaman Pelangggan End */
.i_text_plgn{ padding:3px 0px 3px 15px; border-radius:3px; border:1px solid #CECECE; width:96%; font-size:16px; letter-spacing:1px;}
.i_text_plgn8{ padding:3px 0px 3px 15px; border-radius:3px; border:1px solid #CECECE; width:79%; font-size:16px; letter-spacing:1px;}
.i_text_plgn6{ padding:3px 0px 3px 15px; border-radius:3px; border:1px solid #CECECE; width:59%; font-size:16px; letter-spacing:1px;}
.i_text_plgn4{ padding:3px 0px 3px 15px; border-radius:3px; border:1px solid #CECECE; width:38%; font-size:16px; letter-spacing:1px;}
.i_text_plgn2{ padding:3px 0px 3px 15px; border-radius:3px; border:1px solid #CECECE; width:20%; font-size:16px; letter-spacing:1px;}
.i_radio_plgn{ cursor:pointer;}
.i_button_plgn{ padding:4px 0px 4px 0px; text-align:center; width:96%; cursor:pointer;}

/* Halaman Pembelian */
.detailatas{display: flex; flex-flow: row wrap; justify-content:flex-start; align-content:flex-start; width:100%; margin-bottom:30px;}
.detail1{ list-style:none; width:24%; margin-right:20px;}
.detail1 li{ padding:3px 0px 3px 5px; border:1px solid #000000;}
.detail1 li:nth-child(1){ background:#424A5D; color:white;}
.detail1 li:nth-child(3){ padding:3px 0px 3px 13px;}
.detail1 li:nth-child(4){ padding:3px 0px 3px 13px;}
.detail1 li:nth-child(5){ padding:3px 0px 3px 13px;}
.aksibeli{ width:10%; list-style:none;}
.aksibeli button{ width:100%; margin-bottom:10px;}
.detailbawah{ width:100%; border:1px solid black; min-height:40px;}
.detailbawah>h3{ width:100%; padding:5px 0px 5px 0px; background:#424A5D; color:white; margin-bottom:4px;}
.beli_tbl1{ width:100%; margin-left:30px; margin-bottom:8px;}
.beli_tbl1 td{ padding:4px 0px 4px 0px;}
.beli_tbl1 td:nth-child(1){ width:20%;}
.beli_tbl1 td:nth-child(2){ width:4%; text-align:center;}
.beli_tbl1 tr:nth-child(7) td:nth-child(3){ color:red; font-style:italic;}
.beli_tbl2{ width:94%; margin-left:30px; margin-bottom:20px; border-collapse:separate; border-width:thin; border-spacing:0px;}
.beli_tbl2 td{ border:1px solid #000000;  padding:4px 0px 4px 8px;}
.beli_tbl2 td:nth-child(1){ text-align:center;}
.beli_tbl2 td:nth-child(2){ width:10%; text-align:center;}
.beli_tbl2 td:nth-child(3){ text-align:center;}
.beli_tbl2 td:nth-child(4){ text-align:center; width:16%;}
.beli_bawah td:nth-child(1){ text-align:right; padding-right:10px;}
.beli_bawah td:nth-child(2){ text-align:left; padding-left:8px;}
.aksibeli{ width:90px; display: flex; flex-flow: row wrap; justify-content:flex-start; align-content:flex-start;}
.beli_frm{ widows:100%;}
.beli_update{ padding:5px 0px 5px 0px; width:94.4%; cursor:pointer; margin-left:2.6%; margin-bottom:10px;}
/* Halaman Pembelian End */

/* Halaman Konfirmasi */
.konfir_lht_frm{ width:100%;}
.konfir_lht_tbl{ width:100%;}
.konfir_lht_tbl td{ padding-bottom:10px;}
.konfir_lht_tbl td:nth-child(2){ width:2%;}
.konfir_lht_tbl td:nth-child(1){ width:24%;}
.konfir_lht_tbl td:nth-child(3){ width:74%;}
.pembayaran_img{ width:100%;}
/* Halaman Konfirmasi End */

/* Laporan Pembelian */ 
.lap_pemb{ list-style:disc;}
.lap_pemb li:nth-child(3){ list-style:none;}
.lap_pemb li:nth-child(1){ font-size:20px; margin-bottom:10px;}
.lap_pemb li:nth-child(2){ font-size:20px; margin-bottom:5px;}
.lap_pemb li { padding-bottom:6px;}
.lap_pemb a { color:#000000;}
/* Laporan Pembelian End */
@media screen and (max-width: 1280px) {
	}
@media screen and (max-height: 510px) {
	}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 780px) {
	}
@media screen and (max-width: 480px) {
	}
