/* LESS Document */
/* Templates */
@import url('https://fonts.googleapis.com/css?family=Kalam:300,400,700');
@font-face {font-family: 'OleoScript-Reguler';src:url(../font/Oleo_Script/OleoScript-Regular.ttf);font-weight: normal;font-style: normal;}
@font-face {font-family: 'OleoScript-Bold';src:url(../font/Oleo_Script/OleoScript-Bold.ttf);font-weight: normal;font-style: normal;}
@font-face {font-family: 'Caveat-Reguler';src:url(../font/Caveat/Caveat-Regular.ttf);font-weight: normal;font-style: normal;}
@font-face {font-family: 'Caveat-Bold';src:url(../font/Caveat/Caveat-Bold.ttf);font-weight: normal;font-style: normal;}
@font-face {font-family: 'Boogaloo';src:url(../font/Boogaloo/Boogaloo-Regular.ttf);font-weight: normal;font-style: normal;}
@font-face {font-family: 'Rancho';src:url(../font/Rancho/Rancho-Regular.ttf);font-weight: normal;font-style: normal;}
@font-face {font-family: 'SueEllenFrancisco';src:url(../font/Sue_Ellen_Francisco/SueEllenFrancisco.ttf);font-weight: normal;font-style: normal;}

.space-15{padding-bottom: 15px;}.space-30{padding-bottom: 30px;}.space-60{padding-bottom: 60px;}.space-90{padding-bottom: 90px;}.space-120{padding-bottom: 120px;}
.btn-white-purple{ 
	border: 1px solid rgba(128,67,123,1.00); 
	background: none;
	color: rgba(128,67,123,1.00);
	transition: 0.4s;
	padding: 7px 23px;
	font-family: 'Boogaloo';
}
.btn-white-purple:hover{
	border: 1px solid rgba(255,255,255,1.00); 
	background: rgba(128,67,123,1.00);
	color: rgba(255,255,255,1.00);
	transition: 0.4s;
}
.btn-purple-white{ 
	border: 1px solid rgba(255,255,255,1.00); 
	background: none;
	color: rgba(255,255,255,1.00);
	transition: 0.4s;
	padding: 10px 40px;
}
.btn-purple-white:hover{
	border: 1px solid rgba(255,255,255,1.00); 
	background: rgba(46,24,45,1.00);
	color: rgba(255,255,255,1.00);
	transition: 0.4s;
}
.btn-grap{
	font-family: 'Boogaloo';
	font-size: 2vw;
	padding: 0px 25px;
	border: 2px solid rgba(128,67,123,1.00);
	border-radius: 0px;
	color: rgba(128,67,123,1.00);
	transition: 0.4s;
}
.btn-grap:hover{
	background: rgba(128,67,123,1.00);
	color: rgba(255,255,255,1.00);
	transition: 0.4s;
}
.breadcrumb{
	background: none;		
}
.breadcrumb > li {
    display: inline;
}
.breadcrumb > li > a {
	text-decoration: none;
	color: rgba(128,67,123,1.00);
}
.breadcrumb > li > a:hover{
	text-decoration: none;
}
.breadcrumb > li+li:before {
    content:"/ ";
}
.current{
	color: rgba(0,0,0,0.20);
}
#breadcrumbs-vanesha{
  overflow: hidden;
  width: 100%;
  list-style: none;
  margin-bottom: 20px;
}

#breadcrumbs-vanesha li{
  float: left;
  margin: 0 .5em 0 1em;
}

#breadcrumbs-vanesha a{
  background: rgba(240,137,166,1.00);
  padding: .7em 1em;
  float: left;
  text-decoration: none;
  color: rgba(255,255,255,1.00);
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
  position: relative;
}

#breadcrumbs-vanesha a:hover{
  background: rgba(229,51,101,1.00);
  transition: 0.4s;
  color: rgba(255,255,255,1.00);
}

#breadcrumbs-vanesha a::before{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: rgba(240,137,166,1.00) rgba(240,137,166,1.00) rgba(240,137,166,1.00) transparent;
  left: -1em;
}

#breadcrumbs-vanesha a:hover::before{
  border-color: rgba(229,51,101,1.00) rgba(229,51,101,1.00) rgba(229,51,101,1.00) transparent;
  transition: 0.4s;
}

#breadcrumbs-vanesha a::after{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid rgba(240,137,166,1.00);
  right: -1em;
}

#breadcrumbs-vanesha a:hover::after{
  border-left-color: rgba(229,51,101,1.00);
  transition: 0.4s;
}

#breadcrumbs-vanesha .current,
#breadcrumbs-vanesha .current:hover{
  font-weight: bold;
  background: none;
}
#breadcrumbs-vanesha .current{
  color: rgba(240,137,166,1.00);
  transition: 0.4s;
}#breadcrumbs-vanesha .current:hover{
  color: rgba(128,67,123,1.00);
  transition: 0.4s;
}
#breadcrumbs-vanesha .current::after,
#breadcrumbs-vanesha .current::before{
  content: normal;
}
/* Templates */

.navbar-nav {
	width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }
.bg-white{
	background: #FFFFFF;
}
#navbar > ul > li > a:hover {
	color: #333333;
}
#logo-primary > img{
	padding: 20px 10px 10px 10px;
}
.content-second{
	margin-top:155px;
}
.navbar-primary{
	border-top: 1px solid #80437B;
	width: 100%;
}
.navbar-link{
	font-family: 'Rancho';
	font-size: 24px;
	color: rgba(255,0,4,1.00);
}
.navbar-link > span{ color : rgba(128,67,123,1.00);}
.dropdown-menu > li > a {
	font-family: 'Rancho';
	color: #80437b;
	font-size: 18px;
}.element-center{
	margin: 0 auto;
}
#logo-primary{
	cursor: pointer;
}
.navbar-brand{
	font-family: 'SueEllenFrancisco';
	display: none;
}
.form-search{
	display: none;
	position: absolute;
	bottom: -33px;
	right: 0px;
}
.search-area{
	position: relative; 
	bottom: 0px;
	width: 350px;
}
#basic-addon{
	> button{ 
		cursor: pointer; 
		background: none; 
		border: none;
	  }
}
ul.nav.navbar-nav{
	border-top: 2px solid rgba(128,67,123,1.00);
	border-bottom: 2px solid rgba(128,67,123,1.00);
}
form.form-search{
	border: none;
	outline: none;
}
/* Body */
.body{
	margin-top: 157px;
}
/* Body End */
.banner{
	background-size: 100% auto;
    background-repeat: no-repeat;
	height: 100%;
}
.banner-content{
	position: relative;
	top: 50px;
	padding:10px 0px 0px 100px;
	> h2{
		font-family: 'Rancho';
		font-size: 3em;
		color: rgba(255,255,255,0.80);
		margin-bottom: 20px;
		width: 50%;
		}
	> p {
		font-family: 'Caveat-Reguler';
		font-size: 19px;
		max-width: 550px;
		color: rgba(255,255,255,0.80);
		margin-bottom: 30px;
		font-size: 1.5em;
		width: 50%;
	  }
	> button{ 
		padding: 10px 45px 10px 45px;
		background: rgba(0,0,0,0.70);
		border: none;
		border-radius: 5px;
		color: rgba(255,255,255,0.80);
		transition: 0.5s;
		font-family: 'Rancho';
		font-size: 18px;
		margin-bottom: 20vw;
	  }
	> button:hover{
		background: rgba(255,255,255,0.70);
		color: rgba(128,67,123,1.00);
		transition: 0.5s;
		border: 1px solid rgba(128,67,123,1.00);
		padding: 9px 44px 9px 44px;
	}
}

.home-service{
	padding-top: 30px;
	max-width: 1366px;
	margin: 0 auto;
	> h2{
		color:rgba(0,0,0,0.70);
		font-family: 'OleoScript-Bold';
		font-size: 2.5em;
		margin-bottom: 20px;
		text-transform: capitalize;
	}
}

.home-service-content{
	max-width: 1100px;
	margin: 0 auto;
	display:flex; -webkit-display:flex; -moz-display:flex; -o-display:flex; -ms-display:flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap; -moz-flex-flow: row wrap; -ms-flex-flow: row wrap; -o-flex-flow: row wrap;
	box-sizing:border-box;
	> .home-services-background{
		order: 1;
		max-height:1000px;
		background-size:cover;
		width: 50%;
		border-radius: 7px;
	  }
	> .home-service-content-content{
		order: 2;
		width: 50%;	
		box-sizing: border-box;
		padding: 0px 20px 20px 30px;
		>h3{
			padding: 20px 0px 15px 0px;
			font-family: 'Rancho';
			font-size: 2em;
			color: rgba(0,0,0,0.70);
			text-transform: capitalize;
		}
		> p{
			font-family: 'Rancho';
			font-size: 1.5em;
			color: rgba(0,0,0,0.50);
		  }
	  }
}
.price_featured{
	font-family: 'boogaloo';
	font-size: 1.5em;
	font-weight: 100;
}
.home-service-content:nth-child(even){
	text-align: right;
	> .home-services-background{
		order: 2;
	  }
	> .home-service-content-content{
		order: 1;
	  }
}

.why-vanesha{
	max-width: 1366px;
	margin: 0 auto;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.why-vanesha-layer{
	background: url(../img/background-kenapa-memilih-vanesha.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 0px 50px 125px;
	> h1{
		width: 50%;
		color: rgba(255,255,255,0.90);
		text-transform: capitalize;
		padding-bottom: 20px;
		font-family: 'Rancho';
		font-size: 3em;
	 }
	> p{
		width: 50%;
		color: rgba(255,255,255,0.70);
		font-family: 'Rancho';
		font-size: 1.65em;
	  }
	> button{
		margin: 20px 0px 30px 0px;
		text-transform: capitalize;
		font-family: 'Boogaloo';
		font-size: 1.5em;
	 }
}
.home-article{
	margin: 0 auto;
	padding: 30px 100px 40px 100px;
	max-width: 1366px;
	> h1{
		font-family: 'OleoScript-Bold';
		font-size: 3vw;
		text-transform: capitalize;
		padding-bottom: 30px;
	}
}
.home-article-content{
	width: 90%;
}
.slide{
	text-align: center;
	> .slide-article-background{
		width: 100%;
		height: 150px;
		background-size: 50px;
		background-attachment: scroll;
		background-repeat: no-repeat;
	}
	> h3{
		font-family: 'SueEllenFrancisco';
		font-size: 2.5vw;
	}
	> p{
		color: rgba(0,0,0,0.70);
		font-family: 'SueEllenFrancisco';
		font-size: 22px;
		box-sizing: border-box;
		padding: 0px 10px 0px 10px;
	}
}

/* Top Artilce */
    .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
	.swiper-wrapper > .swiper-slide {
		box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1);
        width: 300px;
        height: 250px;
		> .swiper-slide-img {
			width: 300px;
			height: 180px;
			background-repeat: no-repeat;
			background-size: cover;
		}
		> .swiper-slide-content {
			width: 300px;
			height: 70px;
			overflow: hidden;
			box-sizing: border-box;
			> h4{ 
				font-size: 1.4em; 
				text-align: center;
				font-family: 'Rancho';
				box-sizing: border-box;
				padding: 0px 10px;
				padding-top: 5px;
				line-height: 1.35em;
			}
		}
    }
/* Top Article - End */

/* Testimonial */
.testimonial2{
	max-width: 1366px;
	margin: 0 auto;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.testimonial2-layer{
	background:url(../img/testimonial-background-layer.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 100px 50px 100px;
	text-align: center;
	min-height: 40vw;
	> img{
		width: 22vw;
		margin-top: -45px;
	}
	> h1{
		text-align: center;
		width: 100%;
		color: rgba(255,255,255,0.90);
		text-transform: capitalize;
		padding-bottom: 20px;
		font-family: 'OleoScript-Bold';
		font-size: 2.5em;
		> label{
			font-weight: normal;
			color: rgba(238,139,169,1.00);
		}
	 }
	> p{
		width: 100%;
		color: rgba(255,255,255,0.70);
		font-family: 'SueEllenFrancisco';
		font-size: 4vh;
	  }
	> button{
		margin: 20px 0px 30px 0px;
		text-transform: capitalize;
		font-family: 'SueEllenFrancisco';
		font-size: 1.5vw;
	 }
}
.testimonial{
    text-align: center;
	padding-top: 20px;
}
.testimonial .pic{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 0 auto 40px;
    border: 4px solid rgba(238,139,169,1.00);
    overflow: hidden;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    color: #8a9aad;
    font-size: 1.6em;
    font-style: italic;
    line-height: 1.7em;
	width: 70vw;
	text-align: center;
	margin: 0 auto;
	margin-top: -20px;
	font-family: 'SueEllenFrancisco';
}
.testimonial .testimonial-prof{
    margin:20px 0;
}
.testimonial .title{
    font-size: 20px;
    color: rgba(238,139,169,1.00);
    margin-right: 20px;
    text-transform: capitalize;
}
.testimonial .title:after{
    content: "";
    margin-left: 30px;
    border-right: 1px solid #808080;
}
.testimonial .testimonial-prof small{
    display: inline-block;
    color: #8a9aad;
    font-size: 17px;
    text-transform: capitalize;
}
.owl-theme .owl-controls .owl-buttons div{
    background: transparent;
    opacity: 1;
}
.owl-buttons{
    position: absolute;
    top: 8%;
    width: 100%;
}
.owl-prev{
    position: absolute;
    left:30%;
}
.owl-next{
    position: absolute;
    right:30%;
}
.owl-prev:after,
.owl-next:after{
	content: url(../img/control-prev.png);
    /*content: "\f060";*/
    font-family: 'FontAwesome';
    width: 28px;
    height: 28px;
    font-size: 16px;
    color:#808080;
    transition: all 0.15s ease 0s;
}
.owl-next:after{
    /*content: "\f061";*/
	content: url(../img/control-next.png);
}


/* Page - Services */
#banner2{
	background-image:url(design/img/layer-services.png);
	background-position:0px 0px;
	background-attachment:fixed;
	max-width:1366px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#banner2 h2{
	background:url(../img/layer-services.png);
	max-width:1366px;
	margin: 0 auto;
	height:22vw;
	background-position:0px 0px;
}
.services-content{
	background-image:url(../img/background-services.png);
	/*background-attachment:fixed;*/
	max-width:1366px;
	/*background-repeat: repeat-y;
*/	height: 100%;
	position: relative;
}
.services-description{
	max-width: 600px;
	padding: 20px 30px;
	background: rgba(255,255,255,1.00);
	margin-top: -10vw;
	margin-left: 10vw;
	position: relative;
	font-family: 'SueEllenFrancisco';
}
.services-description > h2 { 
	text-align: center; 
	font-family: 'Rancho'; 
	font-size: 3em;
	color: rgba(0,0,0,0.85);
}
.services-description > p { 
	text-align: center; 
	color: rgba(0,0,0,0.50);
	font-size: 1.6em;
	font-family: 'SueEllenFrancisco';
}

.services-item{
	max-width: 1366px;
	display:flex; -webkit-display:flex; -moz-display:flex; -o-display:flex; -ms-display:flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap; -moz-flex-flow: row wrap; -ms-flex-flow: row wrap; -o-flex-flow: row wrap;
	box-sizing:border-box;
	margin-left: 10vw;
	padding-right: 10vw;
}
.services-item-left{
	width: 45%;
	box-sizing: border-box;
	border: 10px solid white;
	overflow: hidden;
	height: 25vw;
	background-size: cover;
}
.services-item-right{
	width: 55%;
	box-sizing: border-box;
	padding: 0px 50px 20px 5vw;
}
.services-item-right > h3{
	padding-bottom: 10px;
	font-family: 'Rancho';
	font-size: 2.5em;
	color: rgba(0,0,0,0.70);
}
.services-item-right > p{
	font-family: 'SueEllenFrancisco';
	font-size: 18px;
	color: rgba(0,0,0,0.50);
	padding-bottom: 20px;
}
.services-item-right > label{
	font-family: 'Rancho';
	font-size: 1.7vw;
	color: rgba(0,0,0,0.60);
}
.services-item-right > button{
	font-family: 'Boogaloo';
	font-size: 2vw;
	padding: 0px 25px;
	border: 2px solid rgba(128,67,123,1.00);
	border-radius: 0px;
	color: rgba(128,67,123,1.00);
		transition: 0.4s
}
.services-item-right > button:hover{
	background: rgba(128,67,123,1.00);
	color: rgba(255,255,255,1.00);
	transition: 0.4s;
}
.icon-booking{
	transform: translate(8px,2px);
}
/* Page - Services-end */

/* Article */
.article-content{
	max-width: 1150px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	margin-top: -6vw;
	margin-bottom: 6vw;
	box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.15);
	background: rgba(255,255,255,1.00);
}
.article-list{
	width: 100%;
	display:flex; -webkit-display:flex; -moz-display:flex; -o-display:flex; -ms-display:flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap; -moz-flex-flow: row wrap; -ms-flex-flow: row wrap; -o-flex-flow: row wrap;
}
.article-list-left{
	height: 22vw;
	background-size: cover;
	box-sizing: border-box;
	overflow: hidden;
	padding: 0px 10px;
}
.article-list-right{
	height: 22vw;
	box-sizing: border-box;
	padding: 10px 50px;
	> h3 {
		font-family: 'Rancho';
		color: rgba(0,0,0,0.75);
		font-size: 2.3em;
	}
	> div {
		font-family: 'Rancho';
		color: rgba(0,0,0,0.60);
		font-size: 1.4em;
		height: 10.5vw;
		overflow: hidden;
	}
}
.article-list:nth-child(odd) > .article-list-left{
	width: 40%;
	height: 22vw;
	background-size: cover;
	box-sizing: border-box;
	overflow: hidden;
}
.article-list:nth-child(odd) > .article-list-right{
	width: 60%;
}
.article-list:nth-child(even) > .article-list-left{
	order: 2;
	width: 60%;
	height: 22vw;
	background-size: cover;
	box-sizing: border-box;
	overflow: hidden;
}
.article-list:nth-child(even) > .article-list-right{
	order: 1;
	width: 40%;
}
.article-content-detail{
	float: left;
	max-width: 60%;
	box-sizing: border-box;
	position: relative;
	margin-left: 5vw;
	margin-top: -6vw;
	margin-bottom: 6vw;
	box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.15);
	background: rgba(255,255,255,1.00);
	box-sizing: border-box;
	padding: 40px;
	> h2 {
		text-align: center;
		margin-top: -10px;
		font-family: 'Rancho';
		color: rgba(0,0,0,0.70);
		font-weight: 600;
		font-size: 2.5vw;
		text-transform: capitalize;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	> img {
		width: 80%;
		margin: 0 auto;
		display: block;
	}
	> div.article-detail-subtitle{
		padding-top: 40px;
		padding-bottom: 20px;
		color: rgba(0,0,0,0.40);
	}
	> div.article-detail {
		font-size: 1.4vw;
		text-align: justify;
		font-family: 'SueEllenFrancisco';
		color: rgba(0,0,0,0.60);
	}
}
.article-content-related{
	float: right;
	width: 25%;
	box-sizing: border-box;
	position: relative;
	margin-right: 5vw;
	margin-top: 4vw;
	margin-bottom: 6vw;
	background: rgba(255,255,255,1.00);
	> h3 {
		font-family: 'OleoScript-Reguler';
		text-align: center;
		width: 100%;
		font-size: 2.7vw;
		color: rgba(0,0,0,0.70);
	}
	> .top-article-list{
		border: 1px solid rgba(0,0,0,0.15);
		width: 100%;
		> div {
			div.top-article-image{
				height: 12vw;
				background-size: cover;
				
			}
			box-sizing: border-box;
			padding: 20px;
			> img {
				width: 100%;
			}
			div.double-description{
				display:flex; -webkit-display:flex; -moz-display:flex; -o-display:flex; -ms-display:flex;
				flex-flow: row wrap;
				-webkit-flex-flow: row wrap; -moz-flex-flow: row wrap; -ms-flex-flow: row wrap; -o-flex-flow: row wrap;
				box-sizing:border-box;
				width: 80%;
				margin: 0 auto;
				margin-top: -2.7vw;
				> label{
					width: 100%;
					background: rgba(255,255,255,1.00);
					text-align: center;
					box-sizing: border-box;
					padding: 7px;
					font-family: 'Rancho';
					font-size: 1.2vw;
					max-height: 2.7vw;
					overflow: hidden;
				}
				> a{
					box-sizing: border-box;
					padding: 0px;
					margin-top: -5px;
					width: 100%;
					background: rgba(128,67,123,1.00);
					text-align: center;
					font-family: 'Boogaloo';
					font-size: 2.2vw;
					color: rgba(255,255,255,1.00);
				}
				> a:hover{
					text-decoration: none;
				}
			}
		}
	}
}
/* Article -End */

/* Contact Us */
.contact-us-left{
	box-sizing: border-box;
	padding-right: 20px;	
	overflow: hidden;
	padding-bottom: 20px;
}
.contact-us-right{
	box-sizing: border-box;
	padding-left: 20px;
	overflow: hidden;
	padding-bottom: 20px;
}
.subtitle {
  margin: 0 0 2em 0;
}
.fancy {
 	font-family: 'SueEllenFrancisco';
	font-weight: 500;
	text-align: center;
	font-size: 1.7em;
	width: 100%;
    max-width: 570px;
    display: table;
    margin: 20px auto 30px;
    position: relative;
}
.fancy span {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: 0px 10px;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid rgba(0,0,0,0.20);
  border-top: 1px solid rgba(0,0,0,0.20);
  top: 0;
  transform: translateY(12px);
}
/* nth-child(odd/even) */
.contact-us-left > p.fancy span:before,
.contact-us-left > p.fancy span:after {
	width: 65%;
}
.contact-us-right > p.fancy span:before,
.contact-us-right > p.fancy span:after {
	width: 135%;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
.contact-detail,.contact-message{
	background: rgba(255,255,255,1.00);
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.40);
	box-sizing: border-box;
	padding: 20px 20px;
}
/* Contact Us -End*/

/* Other Pages */
.other-pages{
	width: 100%;
	margin: 0 auto;
	display:flex; -webkit-display:flex; -moz-display:flex; -o-display:flex; -ms-display:flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap; -moz-flex-flow: row wrap; -ms-flex-flow: row wrap; -o-flex-flow: row wrap;
	box-sizing:border-box;
	> ul {
		width: 25%;
		margin-right: 5%;
		margin-top: 5.7vw;
		box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.10);
		height: 100%;
		> li {
			list-style: none;
			margin-left: -40px;
			border-bottom: 1px solid rgba(0,0,0,0.20);
			padding: 7px 20px;
			> a {
				text-decoration: none;
				color: rgba(0,0,0,0.80);
			}
			a.active-link-other{
				color: rgba(128,67,123,1.00);
				font-weight: bold;
			}
		}
		> li:last-child{
			border-bottom: none;
		}
		> li:first-child{
			background: rgba(128,67,123,1.00);
			color: rgba(255,255,255,1.00);
		}
	}
	> div {
		width: 70%;
		> h2 {
			width: 100%;
			text-align: center;
			font-family: 'SueEllenFrancisco';
			font-size: 3.2vw;
		}
		> h4 {
			font-family: 'SueEllenFrancisco';
			font-size: 2.2vw;
		}
		> div {
			font-family: 'SueEllenFrancisco';
			font-size: 1.3em;
			line-height: 28px;
			color: rgba(0,0,0,0.60);
			margin-bottom: 50px;
		}
	}
}

/* Other Pages -End */

/* F.A.Q */
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
#accordion{
    padding-left: 76px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#accordion:before{
    content: "";
    width: 1px;
    height: 90%;
    background: #9d325b;
    position: absolute;
    top: 0;
    left: 22px;
    z-index: -1;
}
#accordion .panel{
    border: none;
    box-shadow: none;
    border-radius: 0;
}
#accordion .panel-heading{
    padding: 0;
    border-radius: 0;
    border: none;
}
#accordion .panel-title a{
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: rgba(128,67,123,1.00);
    padding: 10px 30px 15px 0;
    background: #fff;
    position: relative;
    transition: all 0.5s ease 0s;
}
#accordion .panel-title a:before{
    content: "\f103";
    font-family: fontawesome;
    font-size: 20px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(128,67,123,1.00);
    border: 1px solid rgba(128,67,123,1.00);
    position: absolute;
    top: 0;
    left: -74px;
}
#accordion .panel-title a.collapsed:before{
    color: #9c335b;
    background: #fff;
}
#accordion .panel-body{
    font-size: 14px;
    color: #487677;
    line-height: 25px;
    padding: 5px 15px 15px 0;
    border: none;
}
/* F.A.Q - End */

/* Account */
.account-title{
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    margin-top: 0;
    position: relative;
    text-transform: uppercase;
}
.account-title span {
    background: #333333 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    width: 40px;
}
.details-box ul li a{
    color: #666666;
    display: block;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
}
.account-list li a{
    color: #333333;
    display: block;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.account-list li:last-child a{
    margin-bottom: 0;
}
.account-list li a:hover, .account-list li a:focus, .account-list li.active a,
.details-box ul li a:hover,  .details-box ul li a:focus, .pay-pal a:hover, .pay-pal a:focus,
.form-login label a:hover, .form-login label a:focus{
    color: #d6644a;
}
.account-form{
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d2d2d2;
    margin-bottom: 15px;
    padding: 40px;
}
.form-list .selectboxit-container .selectboxit-options{
    width: 100% !important;
}
.form-list .selectboxit-container .selectboxit{
    width: 100% !important;  
    border: 1px solid #aaaaaa;
    margin: 0;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.form-list .selectboxit-container{
    width: 100% !important;
    margin: 0 0 20px;;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.form-list .selectboxit-container span,.form-list .selectboxit-container .selectboxit-options a{
    height: 40px;
    line-height: 40px;
}
.form-list input[type="radio"], .form-list input[type="checkbox"] {
    height: auto;   
    position: static;
    width: auto;
    margin-right: 10px;
}

.form-login .btn.facebook i, .form-login .btn.twitter i{
    margin-right: 10px;
}
.form-login .btn.facebook {
    background-color: #3e5c98;
    border-color: #3e5c98;
    border-radius: 0;
    color: #ffffff;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
}
.form-login .btn.twitter {
    background-color: #22a9e0;
    border-color: #22a9e0;
    border-radius: 0;
    color: #ffffff;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
}
.form-login .btn.facebook:hover, .form-login .btn.twitter:hover,
.form-login .btn.facebook:focus, .form-login .btn.twitter:focus{
    background-color: #333333 ;
    border-color: #333;
}
.create-new-account h3{
    margin: 0 0 42px;
    text-transform: capitalize;
}
.account-form.create-new-account li {
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.redirect-login{
    background: #ededed none repeat scroll 0 0;
    margin-bottom: 40px;
    padding: 15px;    
}
.account{
	border: 1px solid rgba(0,0,0,0.18);
	box-sizing: border-box;
}
.account > ul {
	padding-top: 10px;
	padding-bottom: 10px;
	list-style: none;
}
.account > ul > li {
	padding: 10px 0px;
}
.account > ul > li 	> a {
	padding: 10px 0px;
	color: rgba(128,67,123,1.00);
}
.current{
	font-weight: bolder;
}
/* Account - End */

/* Order */
.review-p{
	text-align: center;
	color: rgba(0,0,0,0.70);
	font-weight: 500;
	font-family: 'SueEllenFrancisco';
	font-size: 16px;
}
.review-div{
	display: block;
    margin: 0 auto;
	> p {
		margin: 0 auto;
		max-width: 200px;
		text-align: center;
		padding: 15px 30px;
	    border: 1px solid #f0f0f0;
		font-family: 'Rancho';
		font-weight: 700px;
		font-size: 1.7em;
		color: white;
    	background-color: rgba(128,67,123,0.70);	
	}
	> ul {
		margin: 0 auto;
		max-width: 200px;
		padding: 15px 30px;
	    border: 1px solid #f0f0f0;
		font-family: 'Rancho';
		font-size: 1.2em;
		color: white;
    	background-color: rgba(128,67,123,0.70);
		> li{
			list-style: none;
		}
	}
}
.btn-black {
	height: 33px;
    border: none;
    line-height: 33px;
    background: #333;
    padding: 7px 20px;
    font-family: Rancho;
    font-size: 11px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    margin: 8px 0 0;
	width: 100px;
}
/* Order - End */
@media only screen and (max-width: 479px){
    .owl-prev{
        left: 10%;
    }
    .owl-next{
        right: 10%;
    }
}
/* Testimonial */

/* Booking */
.checkout{	
}
.table-checkout{
	background: rgba(0,0,0,0.05);
	> tr {
		border: none;
		> td {
		border: none;
		}
	}
}
.checkout>.table>tbody>tr>td, .checkout>.table>tbody>tr>th, .checkout>.table>tfoot>tr>td, .checkout>.table>tfoot>tr>th, .checkout>.table>thead>tr>td, .checkout>.table>thead>tr>th{
	border: none;
}	
.checkout>.table>tbody>tr>td:nth-child(1){
	text-align: right;
}
.checkout>.table>tbody>tr>td:nth-child(3){
	text-align: left;
}
/* Booking -End */

.pre-footer{
	padding-bottom: 30px;
}
.footer-part{
	>h3{
		font-family: 'Boogaloo';
		color: rgba(0,0,0,0.70);
		text-transform: capitalize;
		font-size: 1.75em;
	}
	> ul { 
		padding-top: 15px;
	 	>li{
			list-style: none;
			margin-left: -40px;
			padding-bottom: 10px;
			> a{
				text-transform: capitalize;
				font-family: 'Caveat-Reguler';
				font-size: 1.2em;
				color: rgba(0,0,0,0.60);
				font-weight: bold;
				transition: 0.4s;
			}
			> a:hover{
				text-decoration: none;
				color: rgba(128,67,123,1.00);
				transition: 0.4s;
			}
		}
	}
}
.footer{
	background: rgba(0,0,0,0.80);
}
.footer-content{
	color: rgba(255,255,255,1.00);
	padding: 10px 0px;
	margin: 0 auto;
	width: 100%;
}
div.social-media{
	> a > i{
		color: #F089A6;
		font-size: 1.5em;
		padding-right: 20px;
	}
}
.footer-subscribe{
	font-family: 'Caveat-Reguler';
	color: rgba(0,0,0,0.60);
	font-weight: 700;
}
@media screen and (max-width: 1150px) {
	.banner-content{
		padding:0px 0px 0px 50px;
		> h2{
			font-size: 2.5em;
			margin-bottom: 20px;
			width: 50%;
			}
		> p {
			font-size: 16px;
			max-width: 550px;
		  }
	}
}
@media screen and (max-width: 940px) {
	.banner-content{
		padding:0px 0px 0px 50px;
		> h2{
			font-size: 2.5em;
			margin-bottom: 20px;
			}
		> p {
			font-size: 16px;
			max-width: 550px;
			color: rgba(255,255,255,0.80);
			margin-bottom: 15px;
		  }
		> button{ 
			padding: 10px 45px 10px 45px;
			margin-bottom: 15vw;
		  }
	}
	
	.slide{
		>p{
			display: none;
		}
	}
}
@media screen and (max-width: 768px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #80437b;
		padding-left: 70px;
	}
	.hidden-content{
		display: none;
	}
	
	.home-service-content{
		padding-bottom: 30px;
		> .home-services-background{
			order: 1;
			height: 40vw;
			width: 100%;
			border-radius: 0px;
		  }
		> .home-service-content-content{
			order: 2;
			width: 100%;	
			padding: 0px 20px 20px 30px;
			text-align: left;
		  }
	}
	.home-service-content:nth-child(even){
		text-align: left;
		> .home-services-background{
			order: 1;
		  }
		> .home-service-content-content{
			order: 2;
		  }
	}
	.why-vanesha{
		background-position: right !important;
	}
	.why-vanesha-layer{
		padding: 20px 0px 20px 40px !important;
		> h1{
			width: 60%;
			padding-bottom: 20px;
			font-size: 2.5em;
		 }
		> p{
			width: 60%;
			font-size: 1.5em;
		  }
		> button{
			margin: 20px 0px 30px 0px;
			font-size: 1.4em;
		 }
	}
	.testimonial{
		padding-top: 10px;
		width: 100%;
	}
	.testimonial .pic{
		width: 70px;
		height: 70px;
	}
	.testimonial .description{
		font-size: 1.2em;
		width: 100%;
		line-height: 1.2em;
	}
	.testimonial .title{
		font-size: 18px;
	}
	.testimonial .testimonial-prof small{
		font-size: 15px;
	}
	#breadcrumbs-vanesha{ display: none;}
	.body{  padding-top: 0px;}
	.services-item-left{
		order: 1;
		width: 100%;
		height: 40vw;
	}
	.services-item-right{
		order: 2;
		width: 100%;
		padding: 0px 0px 20px 0px;
	}
	.article-list-right{
		height: 32vw;
		padding: 10px 20px;
		> h3 {
			font-size: 2.2em;
		}
		> div {
			font-size: 1.3em;
			height: 11vw;
			margin-bottom: 20px;
		}
	}
	.article-content{
		width: 92%;
	}
	.article-list:nth-child(odd) > .article-list-left{
		width: 100%;
		height: 35vw;
	}
	.article-list:nth-child(odd) > .article-list-right{
		width: 100%;
	}
	.article-list:nth-child(even) > .article-list-left{
		order: 1;
		width: 100%;
		height: 35vw;
	}
	.article-list:nth-child(even) > .article-list-right{
		order: 2;
		width: 100%;
	}
	.article-content-detail{
		clear: both;
		max-width: 90%;
		margin: 0 auto;
		padding: 40px;
		margin-left: 5%;
		margin-top: -10vw;
		> h2 {
			font-weight: 600;
			font-size: 3.5vw;
		}
		> div.article-detail {
			font-size: 3vw;
		}
	}
	.article-content-related{
		clear: both;
		width: 90%;
		margin: 0 auto;
		margin-right: 5vw;
		margin-top: 4vw;
		margin-bottom: 6vw;
		> h3 {
			width: 100%;
			font-size: 2.7vw;
		}
		> .top-article-list{
			> div {
				div.top-article-image{
					height: 30vw;
				}
				box-sizing: border-box;
				padding: 20px;
			}
		}
	}
		
		
	.pre-footer{
		padding-bottom: 30px;
	}
	.footer-part{
		padding-left: 40px;
		>h3{
			font-family: 'Boogaloo';
			color: rgba(0,0,0,0.70);
			text-transform: capitalize;
			font-size: 1.75em;
		}
		> ul { 
			padding-top: 15px;
			>li{
				list-style: none;
				margin-left: -40px;
				padding-bottom: 10px;
				> a{
					text-transform: capitalize;
					font-family: 'Caveat-Reguler';
					font-size: 1.2em;
					color: rgba(0,0,0,0.60);
					font-weight: bold;
					transition: 0.4s;
				}
				> a:hover{
					text-decoration: none;
					color: rgba(128,67,123,1.00);
					transition: 0.4s;
				}
			}
		}
	}
		
		
}
@media screen and (max-width: 768px) {
	ul.nav.navbar-nav{
		border: none;
	}
	ul.nav.navbar-nav > li{ width: 100%;  border-bottom: 1px solid rgba(128,67,123,0.20); overflow: hidden;}
	ul.nav.navbar-nav > li:last-of-type{border-bottom: none; padding-top: 40px;}
	ul.nav.navbar-nav > li > a{ width: 100%;  text-align: left; padding-left: 50px;}
	.body{ margin-top: 50px; }
	
	.banner-content{
		padding:0px 0px 0px 50px;
		> h2{
			font-size: 4.0vh;
			margin-bottom: 20px;
			}
		> p {
			font-size: 2.5vh;
			color: rgba(255,255,255,0.80);
			margin-bottom: 15px;
		  }
		> button{ 
			padding: 6px 35px 6px 35px;
		  }
	}
	.container-fix{
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px) {
	.banner-content{
		> h2{
			font-size: 3.4vh;
		}
	}
	.services-description{
		margin: 0 auto;
		margin-top: -5vw;
		width: 90%;
	}
}

@media screen and (max-width: 700px) {
	.banner-content{
		> p { display: none;}
		> button{ 
			margin-bottom: 25vw;
		  }
	}
}
@media screen and (max-width: 550px) {
	.testimonial .pic{
		width: 50px;
		height: 50px;
	}
}